# Replace yourdomain.com with your actual domain when deploying to VPS.
# Caddy automatically provisions HTTPS via Let's Encrypt.

dcoption.xyz {
    encode zstd gzip

    reverse_proxy /api/* crypto_options_agg_backend_1:3500
    reverse_proxy crypto_options_agg_frontend_1:3000
}
